.spacer{ 
    height: 100px;
}/*  Ikke I bruk */
header{
    background-color: gray;
}
footer{
    background-color: darkgray;
}

/* index.html spesifik */
.kategory-shoe, .product-shoe{
    height: 100px;
}
.comment-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}

/* product.html spesifik */
/* Style the list */ /* Kode i breadcrumb klassen tatt og modifisert fra https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}
.big-product-picture {
    height: 300px;
}
.small-product-picture {
    height: 100px;
}
/* checkout.html spesifik */
.checkout-picture {
    height: 200px;
}
.checkout-option {
    cursor: pointer;
    display: flex; 
    align-items: center; 
} 
.checkout-option input {
     margin-right: 10px; 
} 