.spacer{ 
    height: 100px;
}/*  Ikke I bruk */
header{
    background-color: gray;
}
footer{
    background-color: darkgray;
}
.kategory-shoe, .product-shoe{
    height: 100px;
}
.comment-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}